<h1><%= @customer.first_name + " " + @customer.last_name %></h1>

    <ul>
        <li>Email: <%= @customer.email %></li>
        <li>First Name: <%= @customer.first_name %></li>
        <li>Last Name: <%= @customer.last_name %></li>
        <li>Suburb: <%= @customer.suburb %></li>
    </ul>


    <% @customer.bookings.each do |booking| %>
        <%= link_to booking.estimated_price.to_s, booking %>
    <% end %>

    
<div class="control">
    <%= link_to 'Edit profile', edit_customer_path(@customer) %>
    <%= link_to 'Delete account', @customer, :method => :delete, :data => {:confirm => 'Are you sure?'} %>
</div>