
<div class="row">
  <div id="sign-in-offset1"  class="col-md-12">
  </div>
</div>


<div id="driver-sign-in-main" class="row">
  <div class="col-md-8 offset-md-2">
    <h5>Sign in to drive</h5>
    <% if flash[:error_message] %>
      <h2><%= flash[:error_message] %></h2>
    <% end %>

    <%= form_tag driver_login_path do  %>
      <div class="row">
        <div class="col-md-12">
          <%= email_field_tag :email, nil, :placeholder=>'Email' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= password_field_tag :password, nil, :placeholder=>'Password' %>
        </div>
      </div>

    <%= submit_tag "Sign in", :class => 'btn btn-success'  %>

    <% end %>
  </div>
</div>



