<div id="driver-sign-up-offset1"  class="row"></div>

<div class="row">
    <div id="driver-sign-up-header" class="col-md-6 offset-md-1">
        <h3>Ubor needs partners like you.</h3>
        <p>Drive with Ubor and earn great money as an independent contractor. Get paid weekly just for helping our community of riders get rides around town. Be your own boss and get paid in fares for driving on your own schedule.</p>
    </div>  
</div>

<div class="row">
    <div id="driver-sign-up-bg" class="col-md-12">
        <img src="/assets/driver_sign_up_hero_banner.png" alt="">
    </div>
</div>

<div class="sign_up_form">
    <% if @driver.errors.any? %>
        <ol>
            <% @driver.errors.full_messages.each do|msg| %>
                <li><%= msg %></li>
            <% end %>
        </ol>
    <% end %>

    <div class="form-containter">
        <%= form_for @driver do |f|%>
        <h6>Edit profile</h6>


        <div class="row">
            <div class="col-md-6">
                <%= f.email_field :email, :placeholder=>"Email", :required=>true %>
            </div>

            <div class="col-md-6">
                <%= f.text_field :phone, :placeholder=>"Phone"  %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= f.password_field :password, :placeholder=>"Password", :required=>true %> 
            </div>

            <div class="col-md-6">
                <%= f.password_field :password_confirmation, :placeholder=>"Password confirmation", :required=>true %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= f.text_field :first_name, :required => true, :placeholder=>"First name" %>
            </div>
            
            <div class="col-md-6">
                <%= f.text_field :last_name, :required => true, :placeholder=>"Last name" %> 
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= f.text_field :street, :placeholder=>"Street" %> 
            </div>
            
            <div class="col-md-6">
                <%= f.text_field :suburb, :placeholder=>"Suburb" %> 
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= f.text_field :state, :placeholder=>"State" %> 
            </div>
            
            <div class="col-md-6">
                <%= f.text_field :postcode, :placeholder=>"Postcode" %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= f.text_field :bank_bsb_no, :placeholder=>"BSB" %>
            </div>
            
            <div class="col-md-6">
                <%= f.text_field :bank_account_no, :placeholder=>"Account no." %>  
            </div>
        </div>       

        <div class="row">
            <div class="col-md-6">
                <%= f.text_field :driver_license_no, :placeholder=>"Driver license" %>
            </div>
        </div>   

       <div class="row">
           <div class="col-md-12">
            <%= f.submit "Edit profile", :class => 'btn btn-success'%>
           </div>
       </div>
        
       <% end %>
    </div>
</div>



