<h1>Welcome Driver! Please sign up below</h1>

<% if @driver.errors.any? %>
    <ol>
        <% @driver.errors.full_messages.each do|msg| %>
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>

<%= form_for @driver do |f|%>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :required => true %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, :required => true %>

    <%= f.label :street %>
    <%= f.text_field :street %>

    <%= f.label :suburb %>
    <%= f.text_field :suburb %>

    <%= f.label :postcode %>
    <%= f.text_field :postcode %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %> 

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :bank_bsb_no %>
    <%= f.text_field :bank_bsb_no %>

    <%= f.label :bank_account_no %>
    <%= f.text_field :bank_account_no %>  

    <%= f.label :car_model_id %>
    <%= f.text_field :car_model_id %>

    <%= f.label :driver_license_no %>
    <%= f.text_field :driver_license_no %>

    <%= f.submit "Sign up!", :class => 'btn btn-success btn-lg'%>
<% end %>
