<!DOCTYPE html>
<html>
  <head>
    <title>Ubor</title>
    
    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>

    <%= csp_meta_tag %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="test">
  
  
  
  </div>
    <div class="row">
      <div class="col-md-4 nav-line"  id="nav-left">
        <a href='/'>Ubor</a>
      </div>

      <div class="col-md-8  nav-line">
        <nav>
          <% if @current_customer.present? %>
            <%= link_to "Customers", customers_path if @current_customer.admin? %>          
            <%= link_to "Customer Profile", @current_customer %>
            <%= link_to "New booking", new_booking_path %>
            <%= link_to "Logout #{ @current_customer.email }", customer_login_path, :method => 'delete' %>
          <% elsif @current_driver.present? %>
            <%= link_to "Driver Profile", @current_driver %>
            <%= link_to "Logout #{ @current_driver.email }", driver_login_path, :method => 'delete' %>
          <% else %>
            <%= link_to "log in", login_path %>
            <%= link_to "sign up", signup_path %>
          <% end %>
        </nav>
      </div>
    </div>
    
    <div class="row">
      <div class="container col-md-12">
        <%= yield %>
      </div>
    </div>

    <div class="row">
      <footer class='footer col-md-12'>
        <p>Copyright 2021</p>
      </footer>
    </div>

  
  </body>
</html>
